
    body{
      line-height: 1;
background: #4E86D9;
color: #555;
font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
    }

body
{
 
   /*background-image: url(img/fon.png);
   background-position: center top;*/
   
}

img {
  border:0;
}
    .logo{
      background-color: #b1bec4;
    }
    h1{
      font-size: large;
    }
    A {
    color: #006699; /* Цвет ссылок */

   }
   A:visited {
    color: #666666; /* Цвет посещенных ссылок */
   }
   A:active {
    color: #0099CC; /* Цвет активных ссылок */
   }
   A:hover{
     color: #990000;
   }
   .contwrap, .logo, .rbar, .lbar{
     /*width: 960px;*/
margin: 0 auto;
background-color: #BEDEAF;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9FCF7), to(#BEDEAF));
background: -moz-linear-gradient(top, #F9FCF7 0%, #BEDEAF 100%);
border: 2px solid #333;
/* curved border radius */
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 10px;
margin-top: 10px;
margin-bottom: 10px;
   }
#cse-search-box input[type=submit],#addw,#perevodbtn{
  display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 10px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
    margin-left:10px;
}
#cse-search-box input[type=submit]:hover, #addw:hover, #perevodbtn:hover{
  text-decoration: none;
  background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
  }
#cse-search-box input[type=submit]:active, #addw:active, #perevodbtn:active{
  position: relative;
  top: 1px;
  color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
  }
#cse-search-box, #in, #pv {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
}

#cse-search-box input[type=text], #in,#pv  {
	padding: 6px 1px;
	color: #7c9ea3;
	float: left;
	width: 60%;
	margin-top: 1px;
	margin-left: 1px;
	height: 23px;
}
.panel {
	padding: 20px;
	width: 250px;
    height: 200px;
	background: #eeeeee;
	border: #282828 2px solid;
	font-family: Georgia;
}
.panel2 {
	padding: 20px;
	width: 250px;
    height: 330px;
	background: #eeeeee;
	border: #282828 2px solid;
	font-family: Georgia;
}
#in,#pv{
width:250px;
}
#addw{
width:230px;
}
#perevodbtn
{
width:230px;
}
.playgo{
cursor: pointer;
cursor:hand; 
}

.brdbot{
    background-color: #BEDEAF;
    border-bottom: #000000 3px dotted;
  }


